* {
  box-sizing: border-box;
}
.div_menu {
  background-color: black;
  width: 100%;
}
.menu {
  text-transform: uppercase;
  color: white;
  font-size: 1.2em;
}
.slider-div {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.slider {
  float: left;
  width: 50%;
  padding: 5px;
  margin-bottom: 20px;
}
p {
  clear: both;
  text-align: justify;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
.footer {
  font-size: 18px;
}
.footer-alamat {
  font-size: 14px;
}